<section class="list-of-conversation">
  <div class="item-conversation">Placeholder 0</div>
  <div class="item-conversation">Placeholder 1</div>
</section>
<section class="conversation-container">
  <div id="messages"></div>
  <form class="input-area">
    <input type="text" id="text-message" value="Hello world !"/>
    <button id="btn-send">Send</button>
  </form>
</section>
