<form class="form-container">
  <h2>Hi, Welcome back</h2>
  <label for="username">Email address</label>
  <input id="username" type="email" value="test@test"/>
  <label for="password">Password <a href="#" class="forgotten-password">Forgot ?</a></label>
  <input id="password" type="password" value="test"/>
  <button id="button">Login</button>
</form>
