<section class="header">
  <h1 class="title"><a href="#" id="title-url">Chat app</a></h1>
</section>

<section class="body">
  <div class="">Username :</div>
  <div class="">Member since :</div>
  <div class="">Number of messages sent :</div>
  <div class="">Friends :</div>
  <div class="">Avatar :</div>
  <div class="">Link to home</div>
  <div class="">Link to conversation</div>
  <div class="">Etc...</div>
</section>

<section class="footer">
  <h3 class="subtitle">Tech stack</h3>
  <div class="tech-list">
    <a href="https://expressjs.com/fr/" class="tech">Express</a> |
    <a href="https://socket.io/" class="tech">Socket.io</a> |
    <a href="https://webpack.js.org/" class="tech">Webpack</a> |
    <a href="https://sass-lang.com/" class="tech">Sass</a> |
    <a href="https://coffeescript.org/" class="tech">CoffeeScript</a> |
    <a href="https://handlebarsjs.com/" class="tech">Handlebars</a> |
    <a href="https://marionettejs.com/" class="tech">Marionette</a> |
    <a href="https://gruntjs.com/" class="tech">Grunt</a> |
    <a href="https://www.sqlite.org/" class="tech">SQLite</a>
  </div>
</section>
