<div class="">Avatar<img src="{{currentUser.avatar}}"></div>
<div class="">Email : {{currentUser.email}}</div>
<div class="">Username : {{currentUser.username}}</div>
<div class="">Member since : {{currentUser.signupDate}}</div>
