<div class="user-info-avatar">
  <img src="{{currentUser.avatar}}">
  <label>Avatar <i class="fa-solid fa-pen" id="editAvatar"></i></label>
</div>
<div class="user-info">
  <label>Username:</label>
  <span>{{currentUser.username}}<i class="fa-solid fa-pen" id="editUsername"></i></span>
</div>
<div class="user-info">
  <label>Member since:</label>
  <span>{{currentUser.signup_date}}</span>
</div>
