<div class="body-container">
  <div class="">Username : </div>
  <div class="">Member since :</div>
  <div class="">Number of messages sent :</div>
  <div class="">Friends :</div>
  <div class="">Avatar :</div>
  <div class="">Link to home</div>
  <div class="">Link to conversation</div>
  <div class="">Etc...</div>
</div>
