<div class="user-info-avatar">
  <img src="{{currentUser.avatar}}">
  <label>Avatar <i class="fa-solid fa-pen" id="editAvatar"></i></label>
</div>
<div class="user-info">
  <label>Username:</label>
  <span id="username">{{currentUser.username}}</span>
  <input type="text" id="usernameInput" autofocus>
  <i class="fa-solid fa-pen" id="buttonEdit"></i>
  <i class="fa-solid fa-check" id="buttonCheck"></i>
</div>
<div class="user-info">
  <label>Member since:</label>
  <span>{{currentUser.signup_date}}</span>
</div>
