<div class="user-info-avatar">
  <img src="{{currentUser.avatar}}">
  <label>Avatar</label>
</div>
<div class="user-info">
  <label>Email:</label>
  <span>{{currentUser.email}}</span>
</div>
<div class="user-info">
  <label>Username:</label>
  <span>{{currentUser.username}}</span>
</div>
<div class="user-info">
  <label>Member since:</label>
  <span>{{currentUser.signupDate}}</span>
</div>
