<div class="body-container">
  <div class="">Avatar<img src="{{avatar}}"></div>
  <div class="">Email : {{email}}</div>
  <div class="">Username : {{username}}</div>
  <div class="">Member since : {{signupDate}}</div>
</div>
