<section class="header">
  <h1 class="title"><a href="#" id="title-url">Chat app</a></h1>
</section>

<section class="body">
  <form class="body-container">
    <h2>Create new account</h2>
    <label for="username">Email address</label>
    <input id="username" type="email" value="test@test"/>
    <label for="password1">Password</label>
    <input id="password1" type="password" value="test"/>
    <label for="password2">Password confirmation</label>
    <input id="password2" type="password" value="test"/>
    <button id="button">Create account</button>
  </form>
</section>

<section class="footer">
  <h3 class="subtitle">Tech stack</h3>
  <div class="tech-list">
    <a href="https://expressjs.com/fr/" class="tech">Express</a> |
    <a href="https://socket.io/" class="tech">Socket.io</a> |
    <a href="https://webpack.js.org/" class="tech">Webpack</a> |
    <a href="https://sass-lang.com/" class="tech">Sass</a> |
    <a href="https://coffeescript.org/" class="tech">CoffeeScript</a> |
    <a href="https://handlebarsjs.com/" class="tech">Handlebars</a> |
    <a href="https://marionettejs.com/" class="tech">Marionette</a> |
    <a href="https://gruntjs.com/" class="tech">Grunt</a> |
    <a href="https://www.sqlite.org/" class="tech">SQLite</a>
  </div>
</section>
