html {
  background-color: rgb(51,51,51);
  color: white;
  height: 100%;
  font-family: monospace;
  display: flex;
  body {
    display: flex;
		margin: 0 auto;
    #main-container {
      display: flex;
      .layoutView {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-left: 5rem;
        margin-right: 5rem;
        .header {
          display: flex;
          justify-content: space-between;
					a {
						color: white;
					}
          .title {
            #title-url {
              text-decoration: none;
              color: white;
            }
          }
          #header-user-navigation {
            line-height: 4.5em;
            .create-account-url {
              color: rgb(100,100,100);
              text-decoration: none;
            }
          }
        }
        #sub-container {
          margin: 0 auto;
          flex: 1;
          display: flex;
          align-items: center;
          .formView {
            display: flex;
            flex: 1;
            .form-container {
              display: flex;
              flex-direction: column;
              row-gap: 1rem;
              .forgotten-password {
                color: rgb(100,100,100);
                text-decoration: none;
              }
            }
          }
          .chatView {
            background-color: rgba(0,0,0,0.4);
            display: grid;
            grid-template-columns: 1fr 3fr;
            align-self: stretch;
            flex: 1;
            section {
              border: 1px solid black;
            }
            .list-of-conversation {
              .item-conversation {
                padding: 2rem;
                background-color: rgba(50,50,50,0.5);
                transition: 0.5s;
                cursor: pointer;
                &:hover {
                  background-color: rgba(50,50,50,0.8);
                }
              }
            }
            .conversation-container {
              display: flex;
              flex-direction: column;
              #messages {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
              }
              .input-area {
                display: flex;
                align-items: flex-end;
                #text-message {
                  flex: 1;
                }
              }
            }
          }
        }
        .footer {
          margin: 1rem;
          .tech {
            color: rgb(100,100,100);
            text-decoration: none;
          }
        }
      }
    }
  }
}
