html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
		background: linear-gradient(45deg, rgba(64,65,68,1) 15%, rgba(78,87,129,1) 33%, rgba(71,76,101,1) 50%, rgba(94,106,154,1) 68%, rgba(85,86,91,1) 85%);
		background-size: 400% 400%;
		animation: gradient 30s ease infinite;
    color: white;
}

@keyframes gradient {
		0% {
				background-position: 0% 50%;
		}
		50% {
				background-position: 100% 50%;
		}
		100% {
				background-position: 0% 50%;
		}
}

.title, .subtitle{
  text-align: center;
}
.tech-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem 3rem 3rem 3rem;
  gap: .2rem;
  padding: 0;
    a {
    width: 15vw;
    text-decoration: none;
    padding: .5rem 0;
    background-color: rgba(0,0,0,0.4);
    text-align: center;
    transition: .5s;
    color: white;
    cursor: pointer;
    line-height: 1.5rem;
      &:hover {
        background-color: SteelBlue;
        color: white;
      }
    }
    .integrate-tech {
      color: forestgreen;
    }
}
#main-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.chatView {
  border: 1px solid black;
  width: 50vw;
	display: flex;
  justify-content: flex-end;
  flex-direction: column;
  flex: 1;
}
#msg-container {
  overflow: auto;
  flex: 1;
  background-color: rgba(255,255,255,0.15);
  position: relative;
  #messages {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 100%;
    width: 94%;
    gap: .5rem;
    padding-left: 0.3rem;
    position: absolute;
  }
}
.input-area {
  display: flex;
  border: 2px solid lightgrey;
  height:2rem;
  bottom: 0;
  width: 99%;
  #text-message {
    flex-grow: 1;
  }
}
.username-form-view {
	background-color: rgba(255,255,255,0.15);
	padding: 5vw 10vw 7vw 10vw;
	p {
    text-align: center;
  }
  form {
    display: flex;
    #usernameInput {
      flex: 1 1 auto;
    }
  }
}

.footer {
	color:white;
  text-align: center;
  margin: 4rem;
  font-style: italic;
}
