<a href="#profile" class="button" title="{{currentUser.email}}"><i class="fa-solid fa-user-gear"></i></a>
<a href="#" id="logout" class="button" title="Disconnect"><i class="fa-solid fa-right-from-bracket"></i></a>
